@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
}
/* header styling*/
header {
  background-color: #ddd;
  font-family:'Allerta', sans-serif;
  position:fixed;
  top:0;
  left:0;
  right:0;
  padding:0em 1em 1.25em 1em;
}
.innerheaderwrapper {
  margin:0 auto;
  width:95%;
}
/*header title*/
.headertitle {
  width:40%;
  float:left;
  padding-top:1em;
}

.headertitle h1 {
  font-size:1.80em;
  width:100%;
}

.headertitle p {
  font-size: .80em;
  width:100%;
}

.headertitle span {
  font-family: 'Lobster Two', cursive;
  font-size:.80em;
}

/*header menu*/

.headermenu {
  float:right;
  width:55%;
}

.innerheadermenu {
  margin-right:auto;
}
.headermenu ul {
  list-style-type: none;
}

.headermenu ul li {
float:left;
padding-top:1em;
padding-left:1em;
width:25%
}

.headermenu ul li a span {
  font-weight: bold;
}

.headermenu ul li a:link {
  text-decoration: none;
  color:inherit;
}

.headermenu ul li a:link, a:visited {
  color:inherit;
}
.headermenu ul li a:hover {
  color:#aaa;
}
/*main content*/

.maincontainer {
  padding-top:5em;
}
/*picture section*/

.photogallarysection {
  width:100%;
}

.mainpic1 {
  float:left;
  width:100%;
}

 /*background image isnt working. matches line 37-41 on HTML. I highlight the section I want to add a background color too in pink temporarly. The path to background picture on my local machine is C:\Users\Andy H\Desktop\betamore\classwork\andyharn.github.io\assets\background1.png*/
.aboutsection {
  font-family:'Allerta', sans-serif;
  padding: 1em;
  width:100%;
  background-image: url (C:\Users\Andy H\Desktop\betamore\classwork\andyharn.github.io\assets\background1.png);
  background-color: pink;
}
.aboutsectionwrapper {

}
