@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  font-family:'Allerta', sans-serif;
}

/* header section*/

  /*headerstyling*/

header {
  background-color: #306D75;
  font-family:'Allerta', sans-serif;
  position:fixed;
  top:0;
  left:0;
  right:0;
  color:white;
  box-sizing: border-box;
  padding:.75em 0em .75em 0em;
}

.headergrid {
  width:95%;
  padding:1em 0em 1em 1em;
  margin:0 auto 0 auto;
}

.headergrid::after {
  display:table;
  clear:both;
  content:"";
}
  /*header title*/

.headertitlecol-2-5 {
  width:40%;
  float:left;
  padding-right:1em;
}

.headertitlemodule {
  padding:1em;
}

.headertitlemodule a {
  text-decoration: none;
  color:white;
}

.headertitlecol-2-5 h1 {
  font-size:1.80em;
  width:100%;
}

.headertitlecol-2-5 p {
  font-size: .80em;
  width:100%;
}

.headertitlecol-2-5 span {
  font-family: 'Lobster Two', cursive;
  font-size:.80em;
}

  /*header menu*/

.headermenucol-3-5 {
  float:left;
  width:60%;
  padding-right:1em;
}

.headermenumodule {
  padding:1em;
}

.headermenumodule::after {
  display:table;
  clear:both;
  content:"";
}

.headermenucol-3-5 ul {
  list-style-type: none;
}

.headermenucol-3-5 ul li {
  float:left;
  padding-top:1em;
  padding-left:3.5em;
  width:25%;
  text-align: center;
}

.headermenucol-3-5 ul li a span {
  font-weight: bold;
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  font-style: italic;
  margin:.25em;
}

.headermenucol-3-5 ul li a:link {
  text-decoration: none;
  color:inherit;
}

.headermenucol-3-5 ul li a:link, a:visited {
  color:inherit;
}

.headermenucol-3-5 ul li a:hover {
  color:#778899;
}

/*main content to clear the fixed header*/

.maincontainer {
  padding-top:5em;
  width: 100%;
  background-color:white;
}

/*picture section*/

.photogallarysection {
  width:100%;
}

.mainpic1 {
  float:left;
  width:100%;
}

/*welcome section*/

#welcomesection {
  font-family:'Allerta', sans-serif;
  width:100%;
  overflow:hidden;
  box-sizing: border-box;
}

.welcomesectiongrid {
  margin:1em auto 0em auto;
  padding:1em 0em 1em 1em;
  width:90%;
  background-color: #A8E4B1;
  color:white;
}

.welcomesectiongrid::after {
  display:table;
  clear:both;
  content:"";
}

.welcomecol-1-4 {
  float:left;
  width:44%;
  padding-right:1em;
  text-align: center;
}

.welcomecol-3-4 {
  float:left;
  width:56%;
  padding-right:1em;
  text-align: center;
}

.welcomemodule {
  padding:.5em;
}

.catplayground {
  width:100%;
  max-height: 30em;
}

.welcomesectiongrid span {
  font-style:italic;
  font-family: 'Lobster Two', cursive;
  text-decoration: underline;
}

.welcomecol-1-4 h2 {
  font-weight: bolder;
  font-size:2.5em;
}

.welcomecol-1-4 p {
  padding-top:2em;
}

/*about section*/

#aboutsection {
  font-family:'Allerta', sans-serif;
  width:100%;
  overflow:hidden;
  box-sizing: border-box;
}

.aboutsectiongrid {
  margin:1em auto 0em auto;
  padding:1em 0em 1em 1em;
  width:90%;
  background-color: #DA5C53;
  color:white;
}

.aboutsectiongrid::after {
  display:table;
  clear:both;
  content:"";
}

.aboutcol-1-4 {
  float:left;
  width:35%;
  padding-right:1em;
  text-align: center;
}

.aboutmodule {
  padding:.5em;
}

.owners {
  display: block;
  width: 100%;
}

.aboutcol-3-4 {
  float:left;
  width:65%;
  padding-right:1em;
  text-align: center;
}

.aboutsectiongrid span {
  font-style:italic;
  font-family: 'Lobster Two', cursive;
}

.aboutcol-3-4 h2 {
  font-weight: bolder;
  font-size:2.5em;
}

.aboutcol-3-4 p {
  padding-top: 1em;
}

/*menu section*/

#menusection {
  margin:1em auto 0em auto;
  padding:1em 1em 1em 1em;
  width:90%;
  background-color: #A8E4B1;
  color:white;
}

#menusection h2 {
  font-weight: bolder;
  font-size:2.5em;
}

#menusection h3 {
  display:block;
  margin:auto;
  color:black;
}

#menusection h4 {
  display:block;
  margin:auto;
  color:black;
}

#menusection::after {
  display:table;
  clear:both;
  content:"";
}

  /*human menu*/

.humanmenugrid {
  background-image: url(assets/background1.png);
  margin:1em auto 1em auto;
  padding:1em 0em 1em 1em;
  width:80%;
}

.humanmenugrid::after {
  display:table;
  clear:both;
  content:"";
}

.humancol-1-4 {
  float:left;
  width:25%;
  padding-right:1em;
  text-align: center;
  }

.humanmodule {
  padding: 1em;
}

.humanmodule img {
  display:block;
  margin:auto;
  width:8em;
  height:8em;
  border-radius: 4em;
}

.humancol-1-4 p {
  text-align: center;
  }

  /*cat menu*/

.catmenugrid {
  background-image: url(assets/background1.png);
  margin:0em auto 0em auto;
  padding:1em 0em 1em 1em;
  width:80%;
}

.catmenugrid::after {
  display:table;
  content:"";
  clear:both;
  }

.catcol-1-4 {
  float:left;
  width:25%;
  padding-right:1em;
  text-align: center;
  }

.catmodule {
  padding:1em;
  }

.catcol-1-4 img {
  display:block;
  margin:auto;
  width:8em;
  height:8em;
  border-radius: 4em;
}

.catcol-1-4 p {
  text-align: center;
  }

/*private parties section*/

#privatepartiessection {
  margin:1em auto 0em auto;
  padding:1em 0em 1em 1em;
  width:90%;
  background-color: #DA5C53;
  color:white;
}

#privatepartiessection h2 {
  font-weight: bolder;
  font-size:2.5em;
}

#privatepartiessection p {
  width:98%;
  margin:0 auto 0 auto;
  padding-top: 1em;
}

#privatepartiessection span {
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  font-style: italic;
  margin:.25em;
}

.privateplist {
  margin:1em;
  width:30%;
  display:block;
}

.ppgrid {
  width:95%;
  margin:0 auto 0em auto;
  padding:.5em 0em .5em .5em;
}

.ppgrid:after {
  clear:both;
  display:table;
  content:"";
  }

.partypic-1-5 {
  float: left;
  padding-right:.5em;
  width:20%;
}

.ppmodule {
  padding:.5em;
}

.ppmodule img {
  display:block;
  margin:auto;
  width:100%;
  height:10em;
}

/*contact section*/

#contactsection {
  background-color: #4AA3BA;
  font-family:'Allerta', sans-serif;
  overflow: hidden;
  margin-top:1em;
  color:white;
}
#contactsection h2 {
  font-weight: bolder;
  font-size:2.5em;
  padding-bottom:.5em;
  padding-left:1em;
}

.contactcontainer {
  margin:auto;
  width:100%;
}

.contactcontainer .info {
  margin: 0 auto;
  float:left;
  width: 33%;
}

.contactcontainer .info ul{
  list-style-type: none;
}

.contactinfo {
  margin:auto;
  width:95%;
  text-align: center;
}

.contactinfo h3{
  text-decoration: underline;
}
